<h2><%= @user.first_name %> <%= @user.last_name%></h2>
<% @user.predictions.each do |p| %>
<%   player = Player.find_by id: p.player_id %>
<%   contract = Contract.find_by id: p.contract_id %>
<%   team = Team.find_by id: p.team_id %>
<%=  player.rank %>. <%=player.name %> - <%= team.name %>: <%= contract.years %> years, $<%= contract.value %>
<br>

<form action="/users/<%= @user.user_name %>/modify" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    
</form>
<% end %>