<h3 style="position: relative; top: 5%; text-align: center; font-size: 200%;">Current signings</h3>
<form style="position: relative; top: 8%; text-align: center; font-size: 140%;" action="/login" method="post">
<% Signing.all.each do |s| %>
    <% player = Player.find_by id: s.player_id %>
    <% team = Team.find_by id: s.team_id %>
    <%= player.name %> - <%= team.name %>: <%= s.years %> years, <%= s.value %>M  <%= s.signing_time %>
    <br>
<% end %>
<h3>Enter a new signing</h3>
<form action="/admin/signings" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <select name="player_name" required>
      <% taken = [] %>
      <% not_taken = [] %>
      <% Signing.all.each do |s| taken << s.player_id end %>
      <% Player.order(:name).each do |p|; if !taken.include? p.id; not_taken << p.name; end; end %>
      <option value="">Player</option>
      <% not_taken.each do |n| %>
      <option value="<%= n %>"><%= n %></option>
      <% end %>
    </select>
    <select name="team_name" required>
      <option value="">Team</option>
      <% Team.order(:name).each do |t| %>
      <option value="<%=t.name%>"><%= t.name %></option>
      <% end %>
    </select>
    <select name="years">
      <option value="">Years</option>
      <% for i in 1..12 %>
      <option value=<%=i%>><%= i %>
      <% end %>
    </select>
    <input type="text" size="7" name="value" placeholder="Total Value" />
    <select name="sign_year">
      <option value="2016">2016
      <option value="2017">2017
    </select>
    <select name="sign_month">
      <option value="">Month</option>
      <% for i in 1..12 %>
      <option value=<%=i%>><%= i %>
      <% end %>
    </select>
    <select name="sign_day">
      <option value="">Day</option>
      <% for i in 1..31 %>
      <option value=<%=i%>><%= i %>
      <% end %>
    </select>
    <select name="sign_hour">
      <option value="">Hour</option>
      <% for i in 0..23 %>
      <option value=<%=i%>><%= i %>
      <% end %>
    </select>
    <select name="sign_minute">
      <option value="">Minute</option>
      <% for i in 0..59 %>
      <option value=<%=i%>><%= i %>
      <% end %>
    </select>
    <input type="submit" value="Enter">
    </select>
</form>
