<h2><%= @user.first_name %> <%= @user.last_name%></h2>
<% @user.predictions.each do |p| %>
<%   player = Player.find_by id: p.player_id %>
<%   contract = Contract.find_by id: p.contract_id %>
<%   team = Team.find_by id: p.team_id %>
<%=  player.rank %>. <%=player.name %> - <%= team.name %>: <%= contract.years %> years, $<%= contract.value %>
<% end %>
<% if @user.predictions.empty? %>
<h3><%= "You have not made any predictions yet!" %></h3>
<% end %>
<br><br>
<h3>Predict more signings</h3>
<form action="/users/<%= @user.user_name %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <select name="player_name" required>
      <option value="">Player</option>
      <% Player.all.each do |p| %>
      <option value="<%=p.name%>"><%= p.name %></option>
      <% end %>
    </select>
    <select name="team_name" required>
      <option value="">Team</option>
      <% Team.all.each do |t| %>
      <option value="<%=t.name%>"><%= t.name %></option>
      <% end %>
    </select>
    <select name="years">
      <option value="">Years</option>
      <% for i in 1..12 %>
      <option value=<%=i%>><%= i %>
      <% end %>
    </select>
    <input type="number" name="value" placeholder="Total Value" />
    <input type="submit" value="Predict">
</form>
<a href='/logout'>Logout</a>