<h2><%= @user.first_name %> <%= @user.last_name%></h2>
<% @user.predictions.each do |p| %>
<%   player = Player.find_by id: p.player_id %>
<%   contract = Contract.find_by id: p.contract_id %>
<%   team = Team.find_by id: p.team_id %>
<%=  player.rank %>. <%=player.name %> - <%= team.name %>: <%= contract.years %> years, $<%= contract.value %>
<br>
<% end %>
<% if @user.predictions.empty? %>
<h3><%= "You have not made any predictions yet!" %></h3>
<% end %>
<br><br>
<h3>Predict more signings</h3>
<form action="/users/<%= @user.user_name %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <select name="player_name" required>
      <% taken = [] %>
      <% not_taken = [] %>
      <% User.last.predictions.all.each do |p| taken << p.player_id end %>
      <% Player.order(:name).each do |p|; if !taken.include? p.id; not_taken << p.name; end; end %>
      <option value="">Player</option>
      <% not_taken.each do |n| %>
      <option value="<%= n %>"><%= n %></option>
      <% end %>
    </select>
    <select name="team_name" required>
      <option value="">Team</option>
      <% Team.order(:name).each do |t| %>
      <option value="<%=t.name%>"><%= t.name %></option>
      <% end %>
    </select>
    <select name="years">
      <option value="">Years</option>
      <% for i in 1..12 %>
      <option value=<%=i%>><%= i %>
      <% end %>
    </select>
    <input type="text" name="value" placeholder="Total Value" />
    <input type="submit" value="Predict">
</form>
<a href="/users/<%= @user.user_name %>/modify">Change my predictions</a><br>
<a href='/logout'>Logout</a>