<form action="/team/home" method="post">
    <div style="float: left; margin: 0 0 0 20%;">
    <h1>American League</h1>
    <h2>East Division</h2>
        <% teams = Team.select { |t| t.league == "American" && t.division == "East" } %>
        <% teams.each do |t| %>
            <input type="submit" name="team_name" value="<%= t.name %>" /><br>
        <% end %>
    <h2>Central Division</h2>
        <% teams = Team.select { |t| t.league == "American" && t.division == "Central" } %>
        <% teams.each do |t| %>
            <input type="submit" name="team_name" value="<%= t.name %>" /><br>
        <% end %>
    <h2>West Division</h2>
        <% teams = Team.select { |t| t.league == "American" && t.division == "West" } %>
        <% teams.each do |t| %>
            <input type="submit" name="team_name" value="<%= t.name %>" /><br>
        <% end %>
    </div>
    <div style="float: right; margin: 0 20% 0 0;">
    <h1>National League</h1>
    <h2>East Division</h2>
        <% teams = Team.select { |t| t.league == "National" && t.division == "East" } %>
        <% teams.each do |t| %>
            <input type="submit" name="team_name" value="<%= t.name %>" /><br>
        <% end %>
    <h2>Central Division</h2>
        <% teams = Team.select { |t| t.league == "American" && t.division == "Central" } %>
        <% teams.each do |t| %>
            <input type="submit" name="team_name" value="<%= t.name %>" /><br>
        <% end %>
    <h2>West Division</h2>
        <% teams = Team.select { |t| t.league == "American" && t.division == "West" } %>
        <% teams.each do |t| %>
            <input type="submit" name="team_name" value="<%= t.name %>" /><br>
        <% end %>
    </div>
</form>
