<form action="/team/home" method="post">
    <h2>American League</h2>
    <h3>East Division</h3>
        <% teams = Team.select { |t| t.league == "American" && t.division == "East" } %>
        <% teams.each do |t| %>
            <input type="submit" name="team_name" value="<%= t.name %>" /><br>
        <% end %>
    <h3>Central Division</h3>
        <% teams = Team.select { |t| t.league == "American" && t.division == "Central" } %>
        <% teams.each do |t| %>
            <input type="submit" name="team_name" value="<%= t.name %>" /><br>
        <% end %>
    <h3>West Division</h3>
        <% teams = Team.select { |t| t.league == "American" && t.division == "West" } %>
        <% teams.each do |t| %>
            <input type="submit" name="team_name" value="<%= t.name %>" /><br>
        <% end %>
    <h2>National League</h2>
    <h3>East Division</h3>
        <% teams = Team.select { |t| t.league == "National" && t.division == "East" } %>
        <% teams.each do |t| %>
            <input type="submit" name="team_name" value="<%= t.name %>" /><br>
        <% end %>
    <h3>Central Division</h3>
        <% teams = Team.select { |t| t.league == "American" && t.division == "Central" } %>
        <% teams.each do |t| %>
            <input type="submit" name="team_name" value="<%= t.name %>" /><br>
        <% end %>
    <h3>West Division</h3>
        <% teams = Team.select { |t| t.league == "American" && t.division == "West" } %>
        <% teams.each do |t| %>
            <input type="submit" name="team_name" value="<%= t.name %>" /><br>
        <% end %>
</form>
<a href="/users/<%=@user.user_name%>">Return to your page</a>